/* Game Styles */

@font-face {
    font-family: 'PressStart2P Web';
    src: url('../../public/fonts/pressstart2p-webfont.eot');
    src: url('../../public/fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('../../public/fonts/pressstart2p-webfont.woff') format('woff'),
         url('../../public/fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('../../public/fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
   font-family: 'PressStart2P Web', monospace;
   margin: 0 auto;
   text-align: center;
}
h1 {
   margin-top: 20px;
}
#game {
   background-color: black;
   display: block;
   height: 256px;
   margin: 20px auto;
   width: 512px;
}
.players {
   display: inline-flex;
   justify-content: space-between;
   text-align: center;
   width: 512px;
}
