@font-face {
    font-family: 'PressStart2P';
    src: url('./fonts/PressStart2P.ttf') format('truetype')
}
body {
    margin: 0 auto;
    text-align: center;
    font-family: 'PressStart2P';
}
#game {
    background-color: #353535;
    width: 512px;
    height: 256px;
}
.players {
    margin: 20px;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    width: 512px;
}
