/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Game Styles */

@font-face {
    font-family: 'PressStart2P Web';
    src: url('../fonts/pressstart2p-webfont.eot');
    src: url('../fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('../fonts/pressstart2p-webfont.woff') format('woff'),
         url('../fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('../fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
   font-family: 'PressStart2P Web', monospace;
   margin: 0 auto;
   text-align: center;
}
h1 {
   margin-top: 20px;
}
#game {
   background-color: black;
   display: block;
   height: 256px;
   margin: 20px auto;
   width: 512px;
}
.players {
   display: inline-flex;
   justify-content: space-between;
   text-align: center;
   width: 512px;
}
